<!DOCTYPE html>
<html>
<head>
    {% include 'public/head.html' ignore missing %}
</head>


<body class="w3-theme-l5">

<!-- Navbar -->
{% include 'public/top.html' ignore missing %}

<!-- 제목 -->
<div class="w3-row-padding" id="plans" style="margin-top:80px">
  <div class="w3-center w3-padding-64" id="predict">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">추미애</span>
  </div>
</div>

<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

<!-- 내용 첫 줄 -->
<div class="w3-row-padding w3-center w3-margin-top">

  <!-- 프로필 -->
  <div class="w3-quarter">
    <div class="w3-card w3-container w3-blue w3-margin-bottom" style="min-height:300px; height:350px">
      <div class="w3-container" >
          <h4 class="w3-center">추미애</h4>
          <p class="w3-center"><img src="/static/images/profile_candidate/chum.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
          <hr>
          <p class="w3-left-align"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> 전 법무부 장관 (제67대)</p>
          <p class="w3-left-align"><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> 경북 달성 출생</p>
          <p class="w3-left-align"><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> October 23, 1958</p>
         </div>
    </div>
  </div>

  <!-- 긍정률 분석 -->
  <div class="w3-quarter">
    <div class="w3-card w3-container w3-margin-bottom" style="min-height:300px; height:350px">
        <img src="/static/images/positive_candidate/추미애.png" alt="Forest" style="width:100%; height:300px; margin-top: 10px;">
        <p><strong>긍정률 분석</strong></p>
    </div>
  </div>

<!-- 테마주 -->
    <div class="w3-half">
      <div class="w3-card w3-container w3-margin-bottom" style="max-height:400px">
          <img src="/static/images/stocks/추미애.png" alt="추미애 테마주" style="width:100%; height:280px; margin-top:20px">
          <p class="w3-center"><strong>테마주 등락률</strong></p>
      </div>
    </div>
  <br>
</div>


<!-- 내용 -->
<div class="w3-row-padding w3-center ">




    <!-- 키워드분석 -->
    <div class="w3-half">
      <div class="w3-card w3-container w3-margin-bottom" style="min-height:400px">
          <img src="/static/images/keyword_candidate/추미애.png" alt="Forest" style="width:100%; height:100%; margin-top: 40px;">
          <p><strong>2030 키워드 분석</strong></p>
      </div>
    </div>

      <!-- 핵심문장   -->
      <div class="w3-half w3-row-padding w3-margin-bottom" style="min-height:400px">
            <div class="w3-card-2">
                <div class="card-block">
                    <div class="table-responsive">
                        <table border="1">
                            <th class="jb-bold">2030 핵심 문장</th>
                            {% for sent in df.values %}
                            <tr>
                                <td>{{sent[1]}}</td>
                            </tr>
                            {% endfor%}
                        </table>
                    </div>
                </div>
            </div>
    </div>

  <br>
</div>
{% include 'public/candi.html' ignore missing %}

</div>

<!-- Footer -->
{% include 'public/footer.html' ignore missing %}




</body>
</html>
