<div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>

    <div class="w3-quarter w3-margin-bottom">
        <div class="w3-card-4">
            <div class="w3-center">
                <img src="/static/images/aboutus/kim.jpg" alt="John" style="width:150px; height:150px; padding:20px">
            </div>
            <div class="w3-container", style="text-align:center">
                <h3>김은서 <a href='https://github.com/spaceofsilver'><i class="fa fa-github w3-hover-opacity"></i></a></h3>
                <p class="w3-opacity"><a href="mailto:kessite17@gmail.com" >kessite17@gmail.com</a></p>
            </div>
        </div>
    </div>

    <div class="w3-quarter w3-margin-bottom">
        <div class="w3-card-4">
            <div class="w3-center">
                <img src="/static/images/aboutus/moon.jpg" alt="John" style="width:150px; height:150px; padding:20px">
            </div>
            <div class="w3-container", style="text-align:center">
                <h3>문수인 <a href='https://github.com/simoon136'><i class="fa fa-github w3-hover-opacity"></i></a></h3>
                <p class="w3-opacity"><a href="mailto:simoon3568@gmail.com" >simoon3568@gmail.com</a></p>
            </div>
        </div>
    </div>

    <div class="w3-quarter w3-margin-bottom">
        <div class="w3-card-4">
            <div class="w3-center">
                <img src="/static/images/aboutus/yoon.jpg" alt="John" style="width:150px; height:150px; padding:20px">
            </div>
            <div class="w3-container", style="text-align:center">
                <h3>윤석영 <a href='https://github.com/akeldh'><i class="fa fa-github w3-hover-opacity"></i></a></h3>
                <p class="w3-opacity"><a href="mailto:akeldh@naver.com" >akeldh@naver.com</a></p>
            </div>
        </div>
    </div>

    <div class="w3-quarter w3-margin-bottom">
        <div class="w3-card-4">
            <div class="w3-center">
                <img src="/static/images/aboutus/chayb.png" alt="John" style="width:150px; height:150px; padding:20px">
            </div>
            <div class="w3-container", style="text-align:center">
                <h3>차유빈 <a href='https://github.com/yubbb'><i class="fa fa-github w3-hover-opacity"></i></a></h3>
                <p class="w3-opacity"><a href="mailto:chayubin7@gmail.com" >chayubin7@gmail.com</a></p>
            </div>
        </div>
    </div>

</div>