<!-- 제목 -->
<div class="w3-row-padding" id="plans" >
  <div class="w3-center w3-padding-64" id="predict">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Candidates</span>
  </div>
</div>

<!-- 버튼 -->
<div class="w3-center w3-padding-64">
  <div class="w3-bar">
    <button class="w3-button w3-black w3-round" onClick="window.location.href='{{url_for('candidate.yoonsy')}}';">윤석열</button>
    <button class="w3-button w3-black w3-round" onClick="window.location.href='{{url_for('candidate.leejm')}}';">이재명</button>
    <button class="w3-button w3-black w3-round" onClick="window.location.href='{{url_for('candidate.leeny')}}';">이낙연</button>
    <button class="w3-button w3-black w3-round" onClick="window.location.href='{{url_for('candidate.hongjp')}}';">홍준표</button>
    <button class="w3-button w3-black w3-round" onClick="window.location.href='{{url_for('candidate.anncs')}}';">안철수</button>
    <button class="w3-button w3-black w3-round" onClick="window.location.href='{{url_for('candidate.jungsg')}}';">정세균</button>
    <button class="w3-button w3-black w3-round" onClick="window.location.href='{{url_for('candidate.yusm')}}';">유승민</button>
    <button class="w3-button w3-black w3-round" onClick="window.location.href='{{url_for('candidate.simsj')}}';">심상정</button>
    <button class="w3-button w3-black w3-round" onClick="window.location.href='{{url_for('candidate.chum')}}';">추미애</button>
    <button class="w3-button w3-black w3-round" onClick="window.location.href='{{url_for('candidate.hwanggy')}}';">황교안</button>
    <button class="w3-button w3-black w3-round" onClick="window.location.href='{{url_for('candidate.kimbg')}}';">김부겸</button>
<!--"w3-button w3-white w3-border w3-border-black w3-round"-->
  </div>
</div>