<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
    <h4></h4>
    <a href="{{url_for('home')}}#top" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
        <i href='https://github.com/from4to4/FinalProject' class="fa fa-github w3-hover-opacity"></i>
    </div>
    <p>Powered by <a href="https://github.com/from4to4/FinalProject" title="W3.CSS" target="_blank" class="w3-hover-text-green">Paul</a></p>
</footer>