<!-- What we offer -->
<div class="w3-row w3-container">
    <div class="w3-center w3-padding-64">
        <div class="w3-center w3-padding-64" id="home">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Do</span>
        </div>
        <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
            <h3>수집</h3>
            <p>7개 언론사의 기사 댓글와 유튜브 영상의 댓글 수집 </p>
        </div>

        <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
            <h3>모델링</h3>
            <p>머신러닝과 딥러닝을 이용한 후보자 긍정률 모델</p>
        </div>

        <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
            <h3>예측</h3>
            <p>모델로 예상해보는 다음 선거 유력 당선자</p>
        </div>

        <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
            <h3>분석</h3>
            <p>후보자에 대한 여론을 반영하는 다양한 분석 자료</p>
        </div>
    </div>
</div>